<% provide(:title, "Contact") %>
<h1>Contact Us!</h1>
<p>Contact me <br/>
	Email: dajudoguy@gmail.com <br/>
	Phone: 1(204)371-7506 <br/>
	<a href="http://railstutorial.org/contact"> contact page</a>
</p>